<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show List</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("name");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1]; // name column
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }


        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</head>
<body>

<div class="container">

    <br/>
    <div class="card">
        <div class="card-header card bg-dark text-white">
            <h2>Show List</h2>
            <p><a href="/shipping/addForm" class="btn btn-outline-success">Add Form</a></p>
            <p><a href="/shipping/search" class="btn btn-outline-secondary">Advance Search</a></p>
        </div>

        <div></div>

        <div class="card-body">
            <br/>
            <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>
            <br/>

            <div th:if="${boxes.isEmpty()}">
                No Data Available
            </div>

            <div th:unless="${boxes.isEmpty()}">

                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <br/>

                <table id="myTable" class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th><input type="text" id="name" onkeyup="myFunction()" placeholder="Search by name.."></th>
                        <th>Type</th>
                        <th>Country</th>
                        <th>Weight</th>
                        <th>Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="box : ${boxes}">
                        <td><span th:text="${box.id}"></span></td>
                        <td><span th:text="${box.name}"></span></td>
                        <td><span th:text="${box.type}"></span></td>
                        <td><span th:text="${box.country}"></span></td>
                        <td><span th:text="${box.weight}"></span> - <span th:text="${box.weightType}"></span></td>
                        <td><span th:text="${box.cost}"></span> SEK</td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>


    <div class="card-footer ">
        <a href="/shipping/addForm" class="btn btn-outline-danger">Back</a>
    </div>
</div>

</body>
</html>