<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">

    <br/>
    <div class="card">
        <div class="card-header card bg-danger text-white">
            <h2>Custom Error</h2>
        </div>

        <div></div>

        <div class="card-body">
            <br/>
            <h2>Opps</h2>
            <p>something is wrong:</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date Time</th>
                    <th>Error Message</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span th:text="${error.timestamp}"></span> </td>
                    <td><span th:text="${error.message}"></span> </td>
                </tr>
                </tbody>
            </table>
            <br/>
        </div>


        <div class="card-footer card bg-dark">
        </div>
    </div>

</body>
</html>