<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Form</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">

    <br/>
    <div class="card">
        <div class="card-header card bg-dark text-white">
            <h2>Search Form</h2>
        </div>

        <div></div>

        <div class="card-body">

        </div>
    </div>


    <div class="card-footer ">
        <button type="submit" class="btn btn-outline-danger">Back</button>
    </div>
</div>

</body>
</html>